/*** html tags ***/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
  max-width: 1440px;
  font-family: 'Poppins', sans-serif;
  color: hsl(233, 8%, 62%);
  line-height: 1.5;
  margin: 0;
}

button {
  background: rgb(44, 43, 43);
  /* linear-gradient(to right, #31d35c 5%, #2bb7da 100%) */
  border-radius: 21px;
  border-width: 0px;
  display: inline-block;
  cursor: pointer;
  color: #f8f9fa;
  border-color: #f8f9fa;
  font-size: 17px;
  padding: 10px 25px;
}

button:hover {
  background: white;
  color: black;
  /* background: linear-gradient(to right, #31d35c 5%, #2bb7da 100%); */
  opacity: 0.8;
}

h1, h2, h3, h4, h5 {
  color: hsl(233, 26%, 24%);
  margin: 0;
}

h4 {
  font-size: 2rem;
  padding-bottom: 50px;
}

p{
  font-weight: 1000;
}

/*** classes and ids ***/
.navbar-div {
  position: relative;
  z-index: 5;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 10%;
}

.navbar-div a {
  color: hsl(233, 8%, 62%);
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
}

.navbar-div a:hover {
  color: hsl(233, 26%, 24%);
  border-bottom: solid 3px hsl(0, 0%, 17%);
}
.hamburger-icon{
  display: none;
}
.close-icon{
  display: none;
}
.top-container {
  display: flex;
  /* background: url(../images/bg-intro-desktop.svg) no-repeat hsl(0, 0%, 98%); */
  background-position: 300% 50%;
  padding: 10%;
  overflow: hidden;
  align-content: flex-start;
  justify-content: space-between;
}

.logo-img{
  background-image: url(/public/logo.png);
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.main-heading h1 {
  width: 310px;
  font-weight: 400;
}

.main-heading p {
  width: 400px;
  padding: 30px 0;
}

.mobile-login-div {
  display: inline-block;
  padding-top: 0px;
  left: 49.6%;
  top: 6%;
}

.username{
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #C0C0C0;
  border-top: none;
  border-right: none;
  border-left: none;
}

.submit{
  background: #161616;
  border-style: outset;
  border-color: blanchedalmond;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  color: white;
  box-shadow: 5px 5px 5px #eee;
}

.heading{
  text-align: center;
  padding: 30px;
}

.mobile-img {
  margin-top: -10rem;
  margin-right: -5rem;
}

.middle-container {
  background-color: hsl(220, 16%, 96%);
  padding: 5% 10%;
}

.cards-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  text-align: center;
}

.last-container {
  background-color: hsl(0, 0%, 98%);
  padding: 5% 10%;
}

.showcase-img {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.showcase-img :hover .overlay{
  bottom: 0;
  height: 100%;
  text-align: center;
}

.text{
  color: black;
  padding-top: 50%;
}

.bottom-div {
  padding: 5% 10%;
  background-color: #161616;
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
.about-info {
  display: flex;
  flex-direction: column;
}

.about-info a {
  color: #fff;
  text-decoration: none;
}

.about-info button {
  margin-bottom: 40px;
}


/** media screen classes*/
@media screen and (max-width: 500px) {
  body {
    text-align: center;
  }

  .logo-img{
    width: 150px;
  }
  .navbar-div button{
    display: none;
  }
    .hamburger-icon{
      display: inline;
    }
    .dropdown-links{
      display: none;
      background-color: #fff;
      line-height: 3;
      box-shadow: 0px 8px 16px 150px rgba(0,0,0,0.2);
    }
    .dropdown-links a{
      display: block;
    }
   .dropdown-links-show
    {
      display:block;
      z-index:10;
      position: absolute;
      top:75px;
      left:10px;
      padding: 10px 40%;
    }


  .top-container {
    flex-direction: column;
    /* background-image: url("../images/bg-intro-mobile.svg"); */
    background-position: top;
    background-size: contain;
    padding: 0 0 100px 0;
  }

  .main-heading h1 {
    width: 60%;
    display: inline-block;
    padding-top: 50px;
  }

  .main-heading p {
    width: 90%;
    padding: 10px;
  }

  .mobile-login-div {
    position: relative;
    left: 20%;
    right: 0;
    width: 60%;
    display: inline-block;
    padding-top: 50px;
  }

  .mobile-img {
    width: 90%;
    margin-right: 0;
    margin-top: -10rem;
  }

  .middle-container {
    padding: 5% 0;
  }

  .cards-div {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
  }

  .last-container-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
  }

  .showcase-img h5 {
    width: 90%;
  }

  .bottom-div {
    flex-direction: column;
    align-items: center;
  }
}

/***copyright text */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}